/* ======
Layout
====== */
.about,
.skills {
    margin: 0 auto;
    margin-bottom: 2em;
    width: min(80%, 450px);
}

.about {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.about__title{
    font-size: 3rem;
    font-family: var(--font-headings);
    letter-spacing: .07em;
    line-height: 1.2;
}

.about__big {
    font-weight: 900;
    letter-spacing: var(--text-headings-spacing);
    
}
/* =========
Typography
========= */
