/* ======
Layout
====== */
/* wrapper for sticky header*/
.wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"header"
		"main";
}

.wrapper > .description {
	grid-area: header;
}

.wrapper > .main {
	grid-area: main;
	overflow: auto;
}

.container__contact {
	padding: 2rem 0;
	background-color: var(--background-secondary);
}

.description,
.contact {
	display: flex;
	padding: 1em;
	align-items: center;
	text-align: center;
}

.description {
	top: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: space-between;
	gap: 0.5em;
	z-index: 99;
}

.contact {
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 3.5rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.contact__info > * {
	margin-bottom: 1.75rem;
	text-align: start;
}

.contact__info > p {
	max-width: max-content;
}

.contact__info p:not(:first-child) {
	margin-bottom: 1rem;
}

.contact__tagline {
	margin: 0 auto 2.5rem auto;
	text-align: center;
}

.center {
	padding-bottom: 8rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100%;
}

/* section element open/close */
.grid,
.about_article {
	opacity: 0;
}

.grid {
	margin-bottom: min(15%, 9rem);
}

.about_article {
	margin-bottom: 8rem;
}

.visable {
	animation: fade-in 1000ms ease-in forwards;
}

/* section fade elements animations */
@keyframes fade-in {
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* ===========
Buttons
============== */
/* remove default button styles */
.contact__btn,
.center__btn {
	position: relative;
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	font-family: inherit;
	background: inherit;
	letter-spacing: var(--text-headings-spacing);
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.center__btn {
	display: block;
	padding: 0;
	margin-bottom: 2px;
	color: var(--btn-color);
	font-size: clamp(2rem, 10vw, 5rem);
	font-weight: inherit;
	max-width: 90%;
}

.center__btn {
	background-image: linear-gradient(
		180deg,
		#23817d 0%,
		#57969d 34%,
		var(--btn-color) 75%
	);
	color: transparent;
	background-clip: text;
	background-repeat: no-repeat;
	background-size: 100% 125%;
	background-position: center top;
	transition: 350ms ease-in;
}

.center__btn:hover,
.center__btn:focus {
	background-position: center bottom;
}

.contact__btn {
	z-index: 2;
	display: flex;
	gap: 0.6rem;
	justify-content: center;
	align-items: center;
	border: none;
	padding: 0.75em 1.25em;
	margin-bottom: 2px;
	font-size: 1rem;
	letter-spacing: var(--text-headings-spacing);
	text-align: center;
}

.contact__btn > p {
	font-weight: 700;
}

.contact__btn::before {
	position: absolute;
	left: 3px;
	z-index: -1;
	content: "";
	border-radius: 20px;
	width: 6.243rem;
	height: 6.243rem;
	border-radius: 50%;
	background-color: #45b0b7;
	transition: all 350ms linear;
}

/* Blured radial gradients */
.center__btn_gradient::before,
.center__btn_about::after {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	filter: blur(45px);
}

.center__btn_gradient::before {
	inset: 20% 75% 0% 0;
	background-image: radial-gradient(
		circle closest-side,
		#23817d,
		#57969d,
		var(--background)
	);
	transition: width 500ms linear, height 500ms linear;
}

.center__btn_about::after {
	inset: -40% 0 0 60%;
	background-image: radial-gradient(
		circle closest-side,
		rgba(255, 255, 255, 1),
		var(--btn-color),
		var(--background)
	);
	transition: width 500ms linear, height 500ms linear;
}

/* hover & focus */

.contact__btn:hover::before,
.contact__btn:focus::before {
	transform: scale(1.1);
	filter: blur(35px);
}

.contact__btn:hover .btn__arrow,
.contact__btn:focus .btn__arrow,
.description__links > a:hover,
.description__links > a:focus {
	color: #45b0b7;
}

.contact__btn:hover,
.contact__btn:focus {
	color: var(--text-color-dark);
}

/* Links */
.description__links > a {
	margin: 4px;
	padding: 4px;
	cursor: pointer;
	transition: color 350ms ease;
}

/* ========
Typography
======== */
.center button,
.description__job {
	font-family: var(--font-headings);
	font-weight: 900;
	text-transform: uppercase;
}

.description__name,
.description__links,
.center__title {
	font-size: clamp(0.75rem, 2vw, 1rem);
}

.center__title {
	font-weight: 800;
	color: #85847c;
}

.contact__info > h2 {
	font-size: clamp(1.5rem, 3vw, 1.75rem);
	font-family: var(--font-headings);
	letter-spacing: 0.07em;
	text-transform: capitalize;
}

.contact__info > p {
	font-size: 0.75rem;
}

.container__contact {
	color: var(--text-color-dark);
}

.contact__tagline {
	font-size: 0.625rem;
}
/* =====
Media
===== */

/* Tablet & Desktop Breakpoint */
@media (min-width: 480px) {
	.center__btn_about::after {
		inset: 20% 0 0 70%;
	}

	.description {
		padding: 1.5em 4em;
	}

	.contact {
		gap: 0.5rem;
	}
}

@media (max-width: 480px) {
	.grid,
	.about_article {
		opacity: 1;
		margin-bottom: 3rem;
	}
}

@media (max-width: 300px) {
	.contact {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.contact {
		font-size: 0.8rem;
	}
}

@media (hover: hover) {
	.center__btn_gradient:hover::before,
	.center__btn_gradient:focus::before,
	.center__btn_about:hover:after,
	.center__btn_about:focus::after {
		width: 150px;
		height: 150px;
	}
}
