.description__navPrimary > a {
	margin: 4px;
	padding: 4px;
	cursor: pointer;
	transition: color 350ms ease;
}

.description__navPrimary > a:hover,
.description__navPrimary > a:focus {
	color: #45b0b7;
}

.mobileNavToggle {
	z-index: 100;
	display: none;
}

/* Mobile Nav Toggle button Animation */
.srOnly {
	position: relative;
	display: block;
	width: 2.5em;
	height: 2em;
}

.srOnly::before,
.srOnly::after {
	content: " ";
	position: absolute;
	width: 35px;
	height: 3px;
	background-color:var(--text-color);
	right: 0;
	left: 0;
	transition: all 750ms ease-out;
}

.srOnly::after {
	bottom: 0.25em;
}

.srOnly::before {
	top: 0.25em;
}

/* ===========
Typography
============*/
.description__name {
    font-size: clamp(0.75rem, 2vw, 1rem);
}


/* ====
Media
===== */

@media (max-width: 480px) {
	.description__navPrimary {
        padding: min(20vh, 3.5em) 1em;
		position: fixed;
        height: 100vh;
		inset: 0 0 0 30%;
        display: flex;
		flex-direction: column;
		align-items: center;
        gap: .75rem;
		transition: transform 350ms ease-out;
        background: rgba(245, 245, 239, 0.4); 
	}

    @supports (backdrop-filter: blur(45px)) {
        .description__navPrimary {
            background: rgba(245, 245, 239, 0.4);
            backdrop-filter: blur(1rem);
        }
    }

    .description__navPrimary > a {
        font-size: 1.2rem;
        color: var(--text-color-dark);
    }

	.description__navPrimaryHidden {
		transform: translateX(130%);
	}

    .mobileNavToggle {
		display: block;
		position: absolute;
		top: 1em;
		right: 1em;
		background-color: inherit;
		border: none;
	}

    .mobileNavToggle[aria-expanded="true"] > .srOnly::before,
	.mobileNavToggle[aria-expanded="true"] > .srOnly::after {
	 background-color:var(--text-color-dark);
		
	}

	.mobileNavToggle[aria-expanded="true"] > .srOnly::before {
		transform: translateY(0.6em) rotate(-35deg);
	}

	.mobileNavToggle[aria-expanded="true"] > .srOnly::after {
		transform: translateY(-0.6em) rotate(35deg);
	}
}
