/* ================
Project Grid Layout
================= */
.project_container {
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	gap: 6em;
	align-items: center;
	justify-content: center;
}

.project_container__card {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
}

.card__img {
	position: relative;
	padding: 2rem 0 0;
	width: min(80vw, 300px);
	height: min(50vh, 400px);
	border-radius: var(--border-radius);
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: lightblue;
	overflow: hidden;
	box-shadow: var(--picture-shadow);
}

.card__info {
	width: min(80vw, 300px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* buttons */
.info__btn {
	position: relative;
	z-index: 2;
	display: flex;
	gap: .5rem;
	align-items: center;
	border: none;
	padding: .75em 1.5em;
	margin: 0 auto;
	margin-bottom: 2px;
	text-decoration: none;
	text-transform: uppercase;
	background: inherit;
	color: var(--btn-color);
	font-family: inherit;
	font-weight: inherit;
	letter-spacing: var(--text-headings-spacing);
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.info__btn::before {
	z-index: -1;
	content: "";
	padding: 1em;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	background-color: rgb(170, 97, 97);
	transition : all 1s ease-out
	/* filter: blur(45px); */
}

.info__btn:hover::before {
	background-color: rgb(100, 89, 89);
	left: 0; 
	right: 0; 
	border-radius: 20px; 
	width: 100%;
	padding: 4px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */

}


/* ==========
Typography
============= */
/* .card__info {
	font-size: 1rem;
}

.card__info > :not(p) {
	font-family: var(--font-headings);
	font-size: clamp(1.75rem, 2.5vh, 2rem);
	letter-spacing: 2px;
} */

/* Media */
@media (hover: hover) {
	/* .card__info {
		transform: translateY(80%);
		filter: blur(8px);
		transition: transform 500ms ease-in, filter 500ms ease 300ms;
	} */

	
	/* hover animation */

	/* .card__img:hover .card__info,
	.card__img:focus .card__info {
		transform: translateY(0);
		filter: blur(0);
	} */
}

@media (min-width: 768px) {
	.card__img {
		padding: 1rem 0 0;
	}
}
