.project_container {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.project_container__card {
    width: min(80vw, 260px);
    height: min(50vh, 480px);
    border: 1px solid hotpink;
    border-radius: var(--border-radius);
    text-align: center;


}

.project_container__card > img {
    width: 100%;
    height: min(45vh, 450px);
    object-fit: cover;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    

}