/* ======
Layout
====== */

/* wrapper for sticky header & footer */
.wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

.wrapper > .description {
	grid-area: header;
}

.wrapper > .main {
	grid-area: main;
	overflow: auto;
	padding: 3em 0 1em 0;
}

.wrapper > .contact {
	grid-area: footer;
}

.description,
.contact {
	display: flex;
	padding: 1em;
	justify-content: space-between;
	align-items: center;
	gap: 0.5em;
	text-align: center;
}

.description {
	top: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	backdrop-filter: blur(5px);
}

.contact {
	bottom: 0;
	box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: var(--background);
}

/* Section containers */
.title {
	padding: 1em 1.5em;
}

.sections {
	/* outline: 2px solid hotpink; */
	padding: 0 1em;
	margin-bottom: 5rem;
}

.sections h2,
.sections h3{
	margin-bottom: 0.5em;
}

.sections p {
	max-width: 500px;
}

/* flex containers */
.hero_section,
.features__flex {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 1.5em;
}

/* hero image section with side element */
.hero_section > :first-child {
	flex-basis: 500px;
	flex-grow: 999;
}

.hero_section > :last-child {
	flex-basis: 300px;
	flex-grow: 1;
}

.hero_section__main {
	display: flex;
	justify-content: center;
}

/* Aside section */
.hero_section__aside {
	margin: 2rem;
	padding: 0.5em;
	border: 2px solid var(--btn-color);
	border-radius: 8px;
	text-align: center;
}

.aside__keyword,
.aside__info {
	max-width: 500px;
	margin: 0 auto;
}

.aside__title,
.aside__links {
	margin-bottom: 1rem;
}

.aside__links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
}

.keyword__list,
.icons__list{
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: center;
	list-style-type: none; /* Remove bullets */
	padding: 0;
	margin: 0;
}

.keyword__list > li {
	padding: 0.15em 0.5em;
	background-color: var(--btn-color);
	border: 1px solid var(--btn-color);
	border-radius: 25px;
}

.aside__info,
.keyword__list {
	line-height: 1.3;
	margin-bottom: 1.5em;
}

/* Grid container sections */
.section_grid {
	padding: 1em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%),1fr));
	place-items: center;
	grid-gap: 3em;
}

/* Features */
.features__flex {
	padding: 2em;
	justify-content: center;
	gap: 2.5em;
}

.icons__list {
	position: relative;
}

.icons__list::before {
    position: absolute;
    inset: 20px 0 20px 0;
    content: "";
	filter: blur(45px);
    background-image: radial-gradient(
    circle farthest-corner at center 45%,
    rgba(255, 255, 255, .5),
    var(--background)60%);
}

.list__icon{
    margin: .25em;
    height: 7em;
    width: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    text-align: center;
    z-index: 2;
}

.list_img{
	padding-bottom: 10px;
	gap:0;
}


/* images */
.main__img,
.planning_section__image,
.flex__image {
	width: 90%;
	height: auto;
	max-width: 800px;
	max-height: 500px;
	border-radius: 8px;
	object-fit: cover;
	box-shadow: var(--picture-shadow);
}

.flex__image {
	max-width: 400px;
}

.planning_section__image,
.flex__image{
	opacity: 0;
	transform-style: preserve-3d;
}


/* Links */
.contact__links > a {
	margin: 4px;
	padding: 4px;
}

/* aside links */
.link {
	border: none;
	border-radius: var(--border-radius);
	padding: 0.5em 0.75em;
	background-color: var(--btn-color);
	box-shadow: var(--picture-shadow);
	color: inherit;
	font-family: inherit;
	font-size: 1.1rem;
	cursor: pointer;
	text-align: center;
}

/* gradients */
.aside__links > a {
	background-image: linear-gradient(
		180deg,
		#23817d 0%,
		#57969d 34%,
		var(--btn-color) 90%
	);
	background-repeat: no-repeat;
	background-size: 100% 125%;
	background-position: center top;
	transition: 350ms ease-in;
}

.aside__links > a:hover,
.aside__links > a:focus {
	background-position: center bottom;
	color: var(--background);
}

/* ========
Typography
======== */

/* Header & Footer */
.description__job {
	font-family: var(--font-headings);
	font-weight: 900;
	font-size: clamp(1rem, 2.5vw, 1.625rem);
	text-transform: capitalize;
}

.description__name {
	font-size: clamp(0.75rem, 2.5vw, 1.125rem);
}

.contact > h2 {
	font-size: clamp(1rem, 2.5vw, 1.125rem);
}

/* Titles & Headins */
.title_primary {
	font-size: clamp(2rem, 5vw, 3.5rem);
}

.aside__title {
	font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.title,
.aside__title,
.sections h2 {
	font-family: var(--font-headings);
	font-weight: 900;
	text-transform: capitalize;
	color: var(--btn-color);
}

.title,
.aside__title {
	letter-spacing: var(--text-headings-spacing);
}


.sections h3,
.sections h2 {
	letter-spacing: 1.5px;
}

/* body */
.conclusion > p {
	margin: 0 auto;
	max-width: 700px;
}

/* Aside */
.keyword__list > li {
	color: var(--background);
	font-family: var(--font-headings);
	font-weight: 900;
	letter-spacing: 1px;
}

/* =========
Animations
========== */
.planning_section__purpose,
.stack__features,
.features__flex > div,
.conclusion > p{
	opacity: 0;
}

/* ======
Media
====== */
@media (min-width: 879px) {
	.hero_section__aside {
		margin: 0;
		margin-right: 4rem;
	}

	.conclusion {
		text-align: center;
		margin: 0 auto;
	}

	.sections { 
		margin-bottom: 15vh;
	}
}
